PORT=
ALLOWED_DOMAINS=

DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_MAX_CONNECTIONS=

JWT_SECRET=
JWT_EXPIRATION_TIME=

#--> DOCKER ENV VARIABLES <--

# development or production
ENV_MODE=
# e.g. myurl.com
VIRTUAL_HOST=
# e.g. myurl.com,www.myurl.com
LETSENCRYPT_HOST=
