PORT=
ALLOWED_DOMAINS=

DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_MAX_CONNECTIONS=

JWT_SECRET=
JWT_EXPIRATION_TIME=

APP_URL=

STORAGE_FOLDER_PATH=uploads
STORAGE_PUBLIC_PATH=/uploads
MAX_UPLOAD_SIZE=10485760
STORAGE_DRIVER=local

#--> DOCKER ENV VARIABLES <--

# development or production
ENV_MODE=
# e.g. myurl.com
VIRTUAL_HOST=
# e.g. myurl.com,www.myurl.com
LETSENCRYPT_HOST=
